/* _featuredExperiences.scss */

#featuredExperiences {
  background-color: $main-bg-color;
  color: $main-text-color;
  padding: $section-padding;
  text-align: left;

  .card-title,
  .card-text {
    color: $secondary-text-color;
  }

  .container > h2,
  .container > p {
    color: white;
  }

  @media (max-width: 1199.98px) {
    .col-xl {
      padding: 15px 0px;
    }
  }

  @media (max-width: 500px) {
    .card {
      width: 100% !important;
    }

    #see-all-btn {
      width: 100%;
    }
  }
}
